# Core
pyyaml
tqdm

# Dataset management
beir

# NLP
nltk

# Information retrieval
rank_bm25

# Embeddings & deep learning
sentence-transformers
torch

# Scientific computing
numpy
scikit-learn

# Visualization
matplotlib