# Core
pyyaml
tqdm

# Dataset management
beir
datasets
ir-datasets

# NLP
nltk

# Information retrieval
rank_bm25

# Embeddings
sentence-transformers
torch

# Scientific computing
numpy
scipy
scikit-learn
pandas

# Visualization
matplotlib

# Notebook
jupyter
ipykernel
ipywidgets